@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}
/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}

body {
  line-height: 1.5;
  min-height: 100vh;
}

ul {
  margin: 0;
  padding-inline: 0;
}

li {
  list-style: none;
}

img,
picture {
  max-width: 100%;
  display: block;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behaviour: auto !important;
  }
}

/* Variables */
:root {
  font-family: 'Inter var', sans-serif;
}

/* Base */
body {
  font-family: var(--font-sans);
}
/* Layout */
h2{
  font-size: 30px;
  text-align: center;
}
.contenedor-banner {
  background-color: indianred;
}
.contenedor-banner h2{
  font-size: 50px;
  text-align: center;
}
.contenedor-banner p{
  font-size: 15px;
  text-align: center;
}
.contenedor-banner img{
  width: 150px;
  height: auto;
  margin: auto;
}
.contenedor{

}
.contenedor-fila {
display: flex;
}
/* Componentes */
body {
display: flex;
height: 100vh;
}

.overlay {
width: 80%;
border-radius: 30px;
display: flex;
margin: auto;
background-color: #a7caff;
}
.overlay div {
  margin: auto;
    padding-block: 100px;
}
.overlay p {
  text-align: center;



}
.overlay img {
  object-fit: contain;
  width: 100px;
  margin: auto;
}
/* Utilidades */
.flex {
  display: flex;
}
.grid {
  display: grid;
}
