/* Imports & supports */
@font-face {
  font-family: "Neue Machina";
  src: url("https://res.cloudinary.com/drwz8ea7q/raw/upload/v1645818261/PPNeueMachina-Regular_yo69f2.woff2");
}
/* Reset & Base */
*,
*::before,
*::after {
  box-sizing: border-box
}
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0
}
body {
  line-height: 1.5;
  min-height: 100vh
}
ul {
  margin: 0;
  padding-inline: 0;
}
li {
  list-style: none
}
a {
  text-decoration: none
}
img,
picture {
  max-width: 60%;
  display: block;
  margin-right: auto;
}
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important
  }
}
/* Variables */
:root {
  /* tipografia */
  --f-family: "Neue Machina";
  --f-size: 16px;
  --f-weight: 400;
}
/* Aplica estas variables a todos los elementos */
* {
  font-family: var(--f-family);
  font-size: var(--f-size);
  font-weight: var(--f-weight)
}
/* Componentes */
body  {
  background-color: #e4bed8
}
h1{
  color: #085afa;
  font-size: 60px;
  line-height: 60px;
}
p{
color: #085afa;
}

.anio{
font-size: 50px;
color: greenyellow;
}

.ejemplo{
  display: flex;
margin: auto;
max-width: max-content;
height: 100vh;
align-items: center;

}
.ejemplo div {
padding-top: 60px;
}
.ejemplo div p{
padding-top: 20px;
}
